*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
.input{
margin:40px auto ;
display: block;
border: transparent;
border-bottom: 2px solid rgb(255, 0, 0);
padding: 10px;
color: aqua;
font-size: 20px;
text-align: center;
outline: none;
}
.copy{
  text-align: center;
  color: rgb(0, 255, 98);
  font-size: 20px;
  padding: 15px;
}
.clear{
  padding: 10px 15px;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 20px;
  color: rgb(255, 0, 0);
  background-color: black;
  border: 2px solid white;
  transition: all 0.5s;
  transform: scale(90%);
  display: block;
  
}
.clear:hover{
  border-color: red;
  color: white;
  transform: scale(110%);
}
